/* MOBILE 480px */

body {
    font-size: 16px;
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4em 4em 0em 4em;
}

nav {
    display: none;
}

header article button {
    display: none;
}

.menu-hamburgesa {
    transform: scale(2);
}

main article div:nth-child(2n) {
    padding: 0em 2.5em 2.5em 2em;
}

main article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: end;
}

main article div img {
    transform: scale(0.75);
}

main article div h1 {
    color: #232851;
    font-size: 44px;
    font-weight: 700;
}

main article div h4 {
    font-size: 16px;
    font-weight: 500;
}

main article div button {
    color: white;
    font-size: 12px;
    font-weight: 500;
    padding: 15px 42px;
    border-radius: 30px;
    border-width: 0px;
    background-color: #8B48BF;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: white;
    background-color: #3CDDF3;
    padding: 1em 5em 1em 1em;
    text-align: start;
    width: 100%;
}

.intro h2 {
    font-size: 32px;
    font-weight: 700;
    padding-right: 3em;
}

.intro p:nth-child(2) {
    font-size: 15px;
    font-weight: 500;
    padding-right: 5em;
}

.intro p:nth-child(3) {
    display: none;
}

.mainAboutUs {
    display: flex;
    flex-direction: column;
    padding: 4em 0em 0em 0em;
    width: 100%;
}

.aboutUs1 {
    display: flex;
    font-size: 13px;
    align-items: center;
    background-color: hsla(274, 48%, 52%, 0.308);
    margin: 0px 0px 0px 30px;
    border-radius: 30px 0px 0px 30px;
    font-weight: 700;
    width: 100%;
}

.aboutUs1::before {
    content: "01";
    color: white;
    background-color: #8B48BF ;
    border-radius: 30px;
    padding: 12px 25px;
    align-self: center;
    margin: 0em 1.5em 0em 0em;
}


.aboutUs2 {
    display: flex;
    font-size: 13px;
    align-items: center;
    background-color: hsla(274, 48%, 52%, 0.308);
    margin: 0px 0px 0px 30px;
    border-radius: 30px 0px 0px 30px;
    font-weight: 700;
    width: 100%;
}

.aboutUs2::before {
    content: "02";
    color: white;
    background-color: #8B48BF ;
    border-radius: 30px;
    padding: 12px 25px;
    align-self: center;
    margin: 0em 1.5em 0em 0em;
}

.aboutUs3 {
    display: flex;
    font-size: 13px;
    align-items: center;
    background-color: hsla(274, 48%, 52%, 0.308);
    margin: 0px 0px 0px 30px;
    border-radius: 30px 0px 0px 30px;
    font-weight: 700;
    width: 100%;
}

.aboutUs3::before {
    content: "03";
    color: white;
    background-color: #8B48BF ;
    border-radius: 30px;
    padding: 12px 25px;
    align-self: center;
    margin: 0em 1.5em 0em 0em;
}

.mainAboutUs div:nth-child(2n) {
    text-align: start;
    color: #b3b2b7;
    font-size: 15px;
    margin: 1em 0em 0em 0.5em;
}

.mainLow {
    text-align: center;
}

.mainLow div img {
    position: relative;
    bottom: 3em;
    transform: scale(0.9);
}

.mainLow div h1 {
    font-size: 34px;
    padding: 0em 0em 0em 0em;
}

.mainLow div h4 {
    font-size: 13px;
    font-weight: 700;
}

.mainLow div p {
    font-size: 16px;
    color: #b3b2b7;
}

.mainLow div:nth-child(2) {
    position: relative;
    top: 8em;
}

.mainLow div:nth-child(3) {
    background-color: rgb(249, 249, 249);
    margin: 0em 1em;
    padding: 2.5em 1.5em 1.2em 1.5em;
}

.mainLow div:nth-child(4) {
    margin: 3em 0em;
}

footer article:nth-child(1) {
    text-align: center;
    padding: 0.5em 2em 1.5em 2em;
    font-size: 26px;
    font-weight: 700;
    color: white;
    background-color: #3CDDF3;
}

footer article:nth-child(1) button {
    color: white;
    font-size: 12px;
    font-weight: 500;
    padding: 15px 42px;
    border-radius: 30px;
    border-width: 0px;
    background-color: #232851;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

footer article:nth-child(2) {
    background-color: #1e1e26;
    text-align: center;
    padding: 0em 0em 2em 0em;
}

footer article form {
    text-align: center;
    padding: 3em 0em 1em 0em;
}

footer article form input {
    width: 270px;
    padding: 15px;
    border-radius: 30px;
    border-width: 0px;
    margin-right: 5px;
}

footer article form button {
    color: white;
    font-size: 12px;
    font-weight: 500;
    padding: 15px 20px;
    border-radius: 30px;
    border-width: 0px;
    background-color: #8B48BF;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

footer article div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 14px;
}

footer article div ul:nth-child(1) {
    padding: 0em 0em 0em 6.5em;
    text-align: start;
}

footer article div ul:nth-child(2) {
    padding: 0em 5.5em 0em 0em;
    text-align: start;
}

footer article div ul li {
    list-style-type: none;
    margin: 1em 0em;
}

footer article div:nth-child(3) {
    display: flex;
    justify-content: space-between;
    padding: 0em 3em 1em 3em;
}

footer article div:nth-child(4) {
    margin: 2em
}

footer article div:nth-child(5) {
    color:#8C8C94;
    font-size: 12px;
}


/* DESKTOP 1440px */

@media (min-width: 481px) {
   
    header {
        margin: 3em 8em
    }

    .menu-hamburgesa {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        order: 2;
    }

    nav ul li {
        list-style-type: none;
        margin: 10px;
    }

    nav ul {
        display: flex;
    }

    header article:nth-child(3) {
        order: 3;
    }

    header article button {
        display: block;
        color: white;
        font-size: 12px;
        font-weight: 500;
        padding: 10px 40px;
        border-radius: 30px;
        border-width: 0px;
        background-color: #8B48BF;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
    }
    
    nav ul li:hover {
        color: rgba(0, 0, 0, 0.603);
        cursor: pointer;
    }

    main article:nth-child(1) {
        flex-direction: row;
        margin: 0em 6em 2em 6em;
    }

    main article div img {
        transform: scale(1);
        margin: 5em 4em 4em 5em;
    }

    main article div h1 {
        font-size: 46px;
    }

    main article div button {
        margin: 2em 0em 0em 0em;
    }

    .intro {
        display: flex;
        background-color: #8B48BF;
        flex-direction: row;
        justify-content: center;
        padding: 0em 8em;
    }

    .intro h2 {
        font-size: 32px;
        padding: 0em 0em 0em 2em;
        width: 50%;
    }

    .intro p:nth-child(2) {
        display: none;
    }

    .intro p:nth-child(3) {
        display: block;
        width: 50%;
        padding: 2em 20em 2em 8em;
        line-height: 1.5;
    }

}