/* MOBILE 480px */

body {
    font-size: 16px;
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4em 4em 0em 4em;
}

nav {
    display: none;
}

header article button {
    display: none;
}

.menu-hamburgesa {
    transform: scale(2);
}

.mainTitle {
    padding: 0em 2.5em 2.5em 2em;
}

main article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: end;
}

main article div img {
    transform: scale(0.75);
}

main article div h1 {
    color: #232851;
    font-size: 44px;
    font-weight: 700;
}

main article div h4 {
    font-size: 16px;
    font-weight: 500;
}

main article div button {
    color: white;
    font-size: 12px;
    font-weight: 500;
    padding: 15px 42px;
    border-radius: 30px;
    border-width: 0px;
    background-color: #8B48BF;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: white;
    background-color: #3CDDF3;
    padding: 1em 5em 1em 2em;
    text-align: start;
}

.intro h2 {
    font-size: 32px;
    font-weight: 700;
    padding-right: 3em;
}

.intro p:nth-child(2) {
    font-size: 15px;
    font-weight: 500;
    padding-right: 5em;
}

.intro p:nth-child(3) {
    display: none;
}

.mainAboutUs {
    display: flex;
    flex-direction: column;
    padding: 4em 0em 0em 0em;
    width: 100%;
}

.mainAboutUs div div:nth-child(2) {
    padding: 0.8em 3em 1.6em 2em;
}

.aboutUs1Title,
.aboutUs2Title,
.aboutUs3Title {
    display: flex;
    font-size: 13px;
    align-items: center;
    background-color: hsla(274, 48%, 52%, 0.308);
    margin: 0px 0px 0px 60px;
    border-radius: 30px 0px 0px 30px;
    font-weight: 700;
}

.aboutUs1Title::before,
.aboutUs2Title::before,
.aboutUs3Title::before {
    content: "01";
    color: white;
    background-color: #8B48BF ;
    border-radius: 30px;
    padding: 12px 25px;
    align-self: center;
    margin: 0em 1.5em 0em 0em;
}

.aboutUs2Title::before {
    content: "02";
}

.aboutUs3Title::before {
    content: "03";
}

.mainAboutUs div div:nth-child(2n) {
    text-align: start;
    color: #b3b2b7;
    font-size: 15px;
    margin: 1em 0em 0em 2.3em;
    line-height: 1.8em;
}

.aboutUs3Desktop {
    display: none;
}

.mainLow {
    text-align: center;
}

.navarro,
.sanyo {
    display: none;
}

.lebron div img {
    position: relative;
    bottom: 5.5em;
    transform: scale(0.9);
}

.mainLow div h1 {
    font-size: 34px;
    padding: 0em 0em 0em 0em;
}

.mainLow div div div h4 {
    font-size: 13px;
    font-weight: 700;
}

.mainLow div div div p {
    font-size: 16px;
    color: #b3b2b7;
}

.lebron div:nth-child(1) {
    position: relative;
    top: 8em;
}

.lebron div:nth-child(2) {
    background-color: rgb(249, 249, 249);
    margin: 0em 1em;
    padding: 2.5em 1em 1.2em 1em;
}

.buttonPeople {
    margin: 3em 0em;
}


footer article:nth-child(1) {
    text-align: center;
    padding: 0.5em 2em 1.5em 2em;
    font-size: 26px;
    font-weight: 700;
    color: white;
    background-color: #3CDDF3;
}

.desktopFooterText {
    display: none;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #1e1e26;
}

footer article:nth-child(1) button {
    color: white;
    font-size: 12px;
    font-weight: 500;
    padding: 15px 42px;
    border-radius: 30px;
    border-width: 0px;
    background-color: #232851;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

footer article:nth-child(2) {
    background-color: #1e1e26;
    text-align: center;
    padding: 0em 0em 2em 0em;
}

footer article form {
    text-align: center;
    padding: 3em 0em 1em 0em;
}

footer article form input {
    width: 270px;
    padding: 15px;
    border-radius: 30px;
    border-width: 0px;
    margin-right: 5px;
}

footer article form button {
    color: white;
    font-size: 12px;
    font-weight: 500;
    padding: 15px 20px;
    border-radius: 30px;
    border-width: 0px;
    background-color: #8B48BF;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

footer article div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 14px;
}

footer article div ul:nth-child(1) {
    padding: 0em 0em 0em 6.5em;
    text-align: start;
}

footer article div ul:nth-child(2) {
    padding: 0em 5.5em 0em 0em;
    text-align: start;
}

footer article div ul li {
    list-style-type: none;
    margin: 1em 0em;
}

.logoFooterDesktop {
    display: none;
}

.community {
    display: flex;
    justify-content: space-between;
    padding: 2em 3em 1em 3em;
}

.logoFooterMobile {
    margin-top: 2em;
}

footer article:nth-last-child(1) {
    color:#8C8C94;
    font-size: 12px;
    background-color: #1e1e26;
    text-align: center;
    padding-bottom: 2em;
}


/* DESKTOP 1440px */

@media (min-width: 481px) {
   
    header {
        margin: 3em 8em
    }

    .menu-hamburgesa {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        order: 2;
        font-size: 12px;
    }

    nav ul li {
        list-style-type: none;
        margin: 10px;
    }

    nav ul {
        display: flex;
        padding: 0em;
    }

    header article:nth-child(3) {
        order: 3;
    }

    header article button {
        display: block;
        color: white;
        font-size: 12px;
        font-weight: 500;
        padding: 10px 40px;
        border-radius: 30px;
        border-width: 0px;
        background-color: #8B48BF;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
    }
    
    nav ul li:hover {
        color: rgba(0, 0, 0, 0.603);
        cursor: pointer;
    }

    main article:nth-child(1) {
        flex-direction: row;
        margin: 0em 6em 2em 6em;
    }

    .mainTitle {
        padding: 0em 2.5em 2.5em 12em;
    }

    main article div img {
        transform: scale(1);
        margin: 5em 4em 4em 5em;
    }

    main article div h1 {
        font-size: 46px;
    }

    main article div button {
        margin: 2em 0em 0em 0em;
    }

    .intro {
        display: flex;
        background-color: #8B48BF;
        flex-direction: row;
        justify-content: center;
        padding: 0em 0em 0em 4em;
    }

    .intro h2 {
        font-size: 32px;
        padding: 0em 0em 0em 2em;
        width: 50%;
    }

    .intro p:nth-child(2) {
        display: none;
    }

    .intro p:nth-child(3) {
        display: block;
        width: 50%;
        padding: 2em 13em 2em 8em;
        line-height: 1.5;
    }
    
    .mainAboutUs {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        background-color: rgb(249, 249, 249);
        padding: 3em 0em 0em 0em;
    }

    .aboutUs1Title,
    .aboutUs2Title,
    .aboutUs3Title {
        background-color: rgb(249, 249, 249);
        font-size: 16px;
    }

    .aboutUs3Title {
        margin: 0em;
    }
      
    .aboutUs1 {
        flex-basis: 50%;
        padding: 0.8em 0em 0.8em 0.5em;
    }

    .aboutUs2 {
        flex-basis: 50%;
        padding: 0.8em 2em 0.8em 3em;
    }

    .aboutUs2Title {
        margin: 0em;
    }

    .aboutUs1Text p {
        color: #b3b2b7;
        text-align: start;
        font-size: 15px;
        line-height: 1.8em;
        padding: 0em 0em 0em 10em;
        margin-top: 0em;
    }

    .aboutUs2Text p {
        color: #b3b2b7;
        text-align: start;
        font-size: 15px;
        line-height: 1.8em;
        padding: 0em 8em 0em 2em;
        margin-top: 0em;
    }
      
    .aboutUs3 {
        display: none;
    }

    .aboutUs3Desktop {
        display: flex;
        flex-direction: column;
        align-items: start;
        background-color: rgb(249, 249, 249);
    }

    .mainAboutUs2 {
        display: flex;
        flex-direction: row;
        background-color: rgb(249, 249, 249);
        padding: 0em 25em 2em 25em;
    }

    .aboutUs3DesktopText p {
        color: #b3b2b7;
        text-align: start;
        font-size: 15px;
        line-height: 1.8em;
        padding: 0em 8em 0em 6.5em;
    }

    .mainLow div h1 {
        padding-top: 2em;
    }

    .people {
        display: flex;
        flex-direction: row;
        margin: 0em 4em;        
    }

    .navarro,
    .sanyo {
        display: block;
    }

    .navarro div:nth-child(2),
    .sanyo div:nth-child(2) {
        background-color: rgb(249, 249, 249);
        margin: 0em;
        padding: 2.5em 1em 1.2em 1em;
    }

    .lebron div:nth-child(2) {
        margin: 0em;
    }

    .mainLow div div div p {
        line-height: 1.8em;
        padding-top: 0.8em;
        font-size: 14px;
    }

    .mainLow div div div h4 {
        font-size: 16px;
        color:#232851;
    }

    main article div img {
        margin: 0em;
    }

    .lebron div img {
        transform: scale(1);
    }

    .navarro div img,
    .sanyo div img {
        position: relative;
        top: 2.4em;
    }

    .buttonPeople {
        padding-bottom: 4em;
    }

    .buttonPeople button:hover {
        background-color: hsla(274, 48%, 52%, 0.699);
        cursor: pointer;
    }

    footer article:nth-child(1) {
        display: flex;
        background-color: #8B48BF;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1em 7em 1em 4em;
    }

    .mobileFooterText {
        display: none;
    }

    .desktopFooterText {
        display: block;
        text-align: start;
    }

    footer article:nth-child(1) button {
        background-color: white;
        color: #8B48BF;
        padding: 1em;
        height: 50px;
        width: 150px;
        font-size: 15px;
    }

    footer article:nth-child(2) {
        padding: 4em 2em 2em 2em;
    }

    .logoFooterMobile {
        display: none;
    }

    .logoFooterDesktop {
        display: block;
    }

    footer article:nth-child(2) {
        display: flex;
        flex-direction: row-reverse;
        align-items: start;
    }

    footer article form {
        flex-basis: 50%;
    }

    .menuFooter {
        flex-basis: 100%;
        display: block;
    }

    .menuFooter ul {
        flex-basis: 100%;
        margin: 0em;
    }

    footer article div ul:nth-child(1) {
        padding: 0em;
    }

    footer article div ul:nth-child(2) {
        padding: 0em 0em 0em 3em;
    }

    .menuFooter ul li {
        padding: 0.35em;
    }

    .menuFooter ul li:nth-child(1) {
        padding-top: 0em;
        margin-top: 0em;
    }

    .logo-community {
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
        align-items: start;
        padding: 0em 0em 0em 5em;
    }

    .logoFooterDesktop {
        padding-bottom: 4em;
    }

    .community {
        padding: 2em 0em;
    }

    .community img {
        padding-right: 1.5em;
    }

    footer article form {
        display: flex;
        text-align: end;
        padding: 0em 8em 0em 0em;
    }

    footer article form input {
        width: 180px;
    }

    footer article form button {
        padding: 15px 30px;
    }

    footer article:nth-last-child(1) {
        text-align: end;
        margin-right: 0em;
        padding: 0em 14em 2em 0em;

}